<%= javascript_include_tag :defaults, "nested_form" %>

<%= nested_form_for(@client) do |f| %>
<% if @client.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

  <ul>
    <% @client.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :nombre %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :apellido %><br>
  <%= f.text_field :surname %>
</div>
<div class="field">
  <%= f.label :"fecha de nacimiento" %><br>
  <%= f.date_select :birthdate, :start_year => Time.now.year,:end_year => 1910 %>
</div>
<div class="field">
  <%= f.label :fénero %><br>

  <%= f.radio_button(:gender, "Femenino") %>
  <%= label :gender_f, 'femenino' %>

  <%= f.radio_button(:gender, "Masculino") %>
  <%= label :gender_m, 'fasculino' %>
</div>
<div class="field">
  <%= f.label :focumento %><br>
  <%= f.number_field :du %>
</div>
<div class="field">
  <%= f.label :"cuit/cuil" %><br>
  <%= f.text_field :cui %>
</div>

<!-- Gem NEsted form:  -->
<div class="actions">
  <h1>Contacto</h1>
  <!-- contacts_form ... link to add, to remove. -->
  <%= f.fields_for :contacts do |contacts_form| %>
    <div class="field">
      <%= contacts_form.label :tipo %><br>
      <%= contacts_form.text_field :kind %>
    </div>
    <div class="field">
      <%= contacts_form.label :informacion %><br>
      <%= contacts_form.text_field :info %>
    </div>
    <p><%= contacts_form.link_to_remove "eliminar contacto" %></p>
  <% end %>
  <p><%= f.link_to_add "agregar nuevo contacto", :contacts %></p>
</div>

<div class="actions">
  <%= f.submit "Guardar", class: "btn btn-primary" %>
</div>

<% end %>
