<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @client.surname %>
</p>

<p>
  <strong>Fecha de naciomiento:</strong>
  <%= @client.birthdate %>
</p>
<p>
  <strong>Edad:</strong>
  <%= @client.birthdate %>
</p>

<p>
  <strong>Género:</strong>
  <%= @client.gender %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @client.du %>
</p>

<p>
  <strong>Cuit/Cuil:</strong>
  <%= @client.cui %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
