<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @bill.description %>
</p>

<p>
  <strong>Total:</strong>
  <%= @bill.total %>
</p>

<p>
  <strong>Fecha de emision:</strong>
  <%= @bill.issue_date %>
</p>

<%= link_to 'Editar', edit_bill_path(@bill) %> |
<%= link_to 'Atras', bills_path %>
