<!DOCTYPE html>
<html>
<head>
  <title>e-vader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="skin-purple sidebar-mini fixed">

  <!-- Site wrapper -->
  <div class="wrapper">

    <%= render partial: 'shared/main_header' %>

    <%= render partial: 'shared/lateral_menu' %>

    <!-- =============================================== -->

    <!-- Right side column. Contains the navbar and content of the page -->
    <div class="content-wrapper">

      <!-- Main content -->
      <section class="content">

        <div id="modal-holder"></div>
        <%= yield %>

      </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>e-vader</b>
      </div>
    </footer>

  </div><!-- ./wrapper -->
</body>
</html>
